<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}">
	
	<body>
		<div layout:fragment="content">
        <!-- Cabeçalho - Fim -->

                <center>
                <div id="imagemErro">
                    <img th:src="@{/images/bf_erro.png}"/>
                </div>
                
        <br><br>
        
        <div id="mensagemDeErro">
            Página não encontrada!
        </div>
                </center>
        <!-- Rodapé - Início -->
        </div>
    </body>
</html>